In [1]:
import pandas as pd

In [2]:
%ls data/seoul-bike-*

data/seoul-bike-2016.csv         data/seoul-bike-2018-reduce.csv
data/seoul-bike-2017.csv         data/seoul-bike-2018.csv

In [3]:
%time df_2018 = pd.read_csv("data/seoul-bike-2018.csv")
df_2018.shape

<string>:2: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 22.5 s, sys: 2.46 s, total: 25 s
Wall time: 26 s

(8441556, 11)

In [4]:
df_2018.columns

Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')

In [5]:
%time df_2018["자전거번호SPB"] = df_2018["자전거번호"].apply(lambda x : x.split("-")[1])

CPU times: user 4.51 s, sys: 229 ms, total: 4.74 s
Wall time: 4.8 s

In [6]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8441556 entries, 0 to 8441555
Data columns (total 12 columns):
자전거번호       object
대여일시        object
대여대여소번호     object
대여대여소명      object
대여거치대       int64
반납일시        object
반납대여소번호     object
반납대여소명      object
반납거치대       int64
이용시간(분)     int64
이용거리(M)     int64
자전거번호SPB    object
dtypes: int64(4), object(8)
memory usage: 772.8+ MB

In [7]:
# 데이터가 너무 커서 로드하는데 시간이 오래 걸리거나 전처리에 시간이 오래 걸린다.
# 자원을 효율적으로 사용하기 위해 용량이 큰 텍스트 데이터를 빼주고 나중에 join이나 merge를 통해 불러오도록 한다.
df_reduce_2018 = df_2018[['자전거번호SPB', '대여일시', '대여대여소번호', '대여거치대', '반납일시', '반납대여소번호',
       '반납거치대', '이용시간(분)', '이용거리(M)']]
df_reduce_2018.shape

(8441556, 9)

In [8]:
%time df_reduce_2018.to_csv("data/seoul-bike-2018-reduce.csv", index=False)

CPU times: user 59.4 s, sys: 1.63 s, total: 1min 1s
Wall time: 1min 3s

In [9]:
%time df_reduce_2018_file = pd.read_csv("data/seoul-bike-2018-reduce.csv")
df_reduce_2018_file.shape

<string>:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 17 s, sys: 3.29 s, total: 20.3 s
Wall time: 22.2 s

(8441556, 9)

In [10]:
# 용량이 절반정도 줄어 들었다.
%ls -lah data/seoul-bike-*

-rw-r--r--  1 corazzon  staff   176M Jan  7 13:54 data/seoul-bike-2016.csv
-rw-r--r--  1 corazzon  staff   592M Jan  7 13:55 data/seoul-bike-2017.csv
-rw-r--r--  1 corazzon  staff   540M Jan 13 06:56 data/seoul-bike-2018-reduce.csv
-rw-rw-r--  1 corazzon  staff   1.0G Jan  7 13:56 data/seoul-bike-2018.csv