## 따릉이 대여소 크롤링
* 대여소 조회 페이지 : https://www.bikeseoul.com/app/station/moveStationRealtimeStatus.do

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://www.bikeseoul.com/app/station/getStationRealtimeStatus.do"
param_query = "stationGrpSeq=ALL&tabId="

In [3]:
param_query_split = param_query.split("&")

params = {}
for query in param_query_split:
    q = query.split("=")
    key = q[0]
    val = q[1]
    params[key] = val

params

{'stationGrpSeq': 'ALL', 'tabId': ''}

In [4]:
response = requests.post(url, params)
response

In [5]:
import json
data = json.loads(response.text)
data["realtimeList"][:2]

[{'stationName': '위트콤',
  'stationImgFileName': '',
  'stationId': 'ST-484',
  'stationLongitude': '0.00000000',
  'stationLatitude': '0.00000000',
  'rackTotCnt': '16',
  'parkingBikeTotCnt': '3',
  'parkingQRBikeCnt': '2291',
  'parkingELECBikeCnt': '0',
  'stationSeCd': 'RAK_001',
  'mode': None},
 {'stationName': '위트콤공장',
  'stationImgFileName': '',
  'stationId': 'ST-598',
  'stationLongitude': '0.00000000',
  'stationLatitude': '0.00000000',
  'rackTotCnt': '68',
  'parkingBikeTotCnt': '0',
  'parkingQRBikeCnt': '0',
  'parkingELECBikeCnt': '0',
  'stationSeCd': 'RAK_001',
  'mode': None}]

In [6]:
df = pd.DataFrame(data["realtimeList"])
df.shape

(2040, 11)

In [7]:
df.head()

,stationName,stationImgFileName,stationId,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,parkingQRBikeCnt,parkingELECBikeCnt,stationSeCd,mode
0,위트콤,,ST-484,0.00000000,0.00000000,16,3,2291,0,RAK_001,None
1,위트콤공장,,ST-598,0.00000000,0.00000000,68,0,0,0,RAK_001,None
2,101. (구)합정동 주민센터,,ST-3,126.90575409,37.54956055,7,0,4,0,RAK_001,None
3,102. 망원역 1번출구 앞,,ST-4,126.91062927,37.55564880,22,1,6,0,RAK_001,None
4,103. 망원역 2번출구 앞,,ST-5,126.91083527,37.55495071,16,3,6,0,RAK_001,None

In [8]:
df.to_csv("data/realtime_rent_station.csv", index = False)

In [9]:
pd.read_csv("data/realtime_rent_station.csv").tail()

,stationName,stationImgFileName,stationId,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,parkingQRBikeCnt,parkingELECBikeCnt,stationSeCd,mode
2035,3587.우성식품 앞,NaN,ST-2407,127.094231,37.542465,15,0,0,0,RAK_002,NaN
2036,3588.세종대학교(영실관),NaN,ST-2408,127.073540,37.552372,10,0,1,0,RAK_002,NaN
2037,3600.사근빗물펌프장 건너편,NaN,ST-2420,127.049683,37.561192,8,0,3,0,RAK_002,NaN
2038,9996. 시설2,NaN,ST-1738,0.000000,0.000000,2,0,0,0,RAK_001,NaN
2039,99998. 상암단말정비,NaN,ST-34,51.316605,-87.394150,17,4,0,0,RAK_001,NaN