## 따릉이 대여소 크롤링
* https://www.bikeseoul.com:447/app/location/moveRealtimeStatus.do
* https://www.bikeseoul.com/app/station/moveStationRealtimeStatus.do

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://www.bikeseoul.com:447/app/location/getRealtimeStatus.do"

In [3]:
response = requests.post(url)

In [4]:
import json
data = json.loads(response.text)
data["realtimeList"][:2]

[{'stationImgFileName': '',
  'stationId': 'ST-485',
  'stationName': '1001. 광진교 남단 사거리(디지털프라자앞)',
  'searchType': None,
  'stationUseYn': 'Y',
  'stationLongitude': '127.12474823',
  'stationLatitude': '37.54179382',
  'rackTotCnt': '17',
  'parkingBikeTotCnt': '4',
  'shared': '24',
  'rackUsableCnt': None,
  'lang': 'LAG_001',
  'appOsType': None},
 {'stationImgFileName': '',
  'stationId': 'ST-486',
  'stationName': '1002. 해공공원(천호동)',
  'searchType': None,
  'stationUseYn': 'Y',
  'stationLongitude': '127.12594604',
  'stationLatitude': '37.54526138',
  'rackTotCnt': '12',
  'parkingBikeTotCnt': '6',
  'shared': '50',
  'rackUsableCnt': None,
  'lang': 'LAG_001',
  'appOsType': None}]

In [5]:
df = pd.DataFrame(data["realtimeList"])
df.shape

(2038, 13)

In [6]:
df.head()

,stationImgFileName,stationId,stationName,searchType,stationUseYn,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,shared,rackUsableCnt,lang,appOsType
0,,ST-485,1001. 광진교 남단 사거리(디지털프라자앞),None,Y,127.12474823,37.54179382,17,4,24,None,LAG_001,None
1,,ST-486,1002. 해공공원(천호동),None,Y,127.12594604,37.54526138,12,6,50,None,LAG_001,None
2,,ST-487,1003. 해공도서관앞,None,Y,127.12548828,37.54395676,22,3,14,None,LAG_001,None
3,,ST-488,1004. 삼성광나루아파트 버스정류장,None,Y,127.12886810,37.55332947,12,10,83,None,LAG_001,None
4,,ST-490,1006. 롯데캐슬 115동앞,None,Y,127.14279938,37.55486679,17,0,0,None,LAG_001,None

In [7]:
df.to_csv("data/realtime_rent_station.csv", index = False)

In [8]:
pd.read_csv("data/realtime_rent_station.csv").tail()

,stationImgFileName,stationId,stationName,searchType,stationUseYn,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,shared,rackUsableCnt,lang,appOsType
2033,NaN,ST-2262,994.북한산생태공원입구(교통섬),NaN,Y,126.938538,37.610508,2,0,0,NaN,LAG_001,NaN
2034,NaN,ST-2263,995.은평다목적체육관,NaN,Y,126.925407,37.631409,2,3,150,NaN,LAG_001,NaN
2035,NaN,ST-2264,996.응암역 1번출구,NaN,Y,126.915405,37.598606,2,13,650,NaN,LAG_001,NaN
2036,NaN,ST-1738,9996. 시설2,NaN,Y,0.000000,0.000000,2,0,0,NaN,LAG_001,NaN
2037,NaN,ST-598,위트콤공장,NaN,Y,0.000000,0.000000,68,0,0,NaN,LAG_001,NaN